* {
  outline: solid 2px red;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.main__div {
  width: 100px;
  height: 100px;
  background-color: coral;
  border: solid 4px;
}

.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
