@import url('/css/styles.css');

* {
  outline: solid 1px red;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* align-items: center; */
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkcyan;
}

.form .form__button {
  align-self: center;
  width: 150px;
}
