* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 2rem;
  font-family: system-ui, -apple-system, sans-serif;
  color: #fff;
  background-color: #333;
}

h1 {
  margin-bottom: 1rem;
}

p {
  color: #ddd;
}
